.bg-blue{
  background-color: #6da2a9;
}

.bg-light-blue{
  background-color: #9fcbd2;
}

.bg-light-yellow{
  background-color: #fbe783;
}

.bg-white{
  background-color: white;
}

.big-font{
  height: 100vh;
}

form input{
  
}